body {
    background-color: black;
    
}

h1 {
    font-weight: 400;
    letter-spacing: 3px;
}

#meme {
    width: 100%;
    border: 5px solid white;
}

#main-content {
    width: 50%;
    margin-top: 10%;
    margin-left: 25%;
    font-family: "Libre Baskerville", serif;
    color: white;
    text-align: center;
}
  