body {
    color: #1E1E1E;
    background-color: #F2EFE7;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

a {
    text-decoration: none;
}

.dark-teal {
    color: #006A71;
}

.teal {
    color: #48A6A7;
}

.light-teal {
    color: #9ACBD0;
}

.gray-bg {
    background-color: #F8F8F8;
}

.display-large {
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.display-medium {
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.display-small {
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.body-large {
    font-size: 1rem;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
}

.title-center {
    text-align: center;
}

.contact-button {
    background-color: transparent;
    padding: 3px 20px;
    border: 3px solid #48A6A7;
    border-radius: 30px;
    color: #48A6A7;
    font-weight: 600;
}

#involvement, #contact-me {
    background-color: #F0EBDC;
}

.contact-button:hover {
    border-color: #9ACBD0;
    color: #9ACBD0;
    transition-duration: 300ms;
}

.involvement-card {
    margin: 1rem 0 1rem 0;
    padding: 0 1rem 0 1rem;
}

.involvement-card > img {
    margin-bottom: 1rem;
    object-fit: cover;
    width: 100%;
}

.project {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.project-description {
    margin-top: 10rem;
    margin-left: 5rem;
}

#contact-me div > * {
    margin-bottom: 1.5rem;
}

#footer {
    background-color: #48A6A7;
    color: #006A71;
}

@media (max-width: 600px) {
    .project {
        display: inline-flex;
        flex-direction: column;
    }
    .project-description {
        margin-top: 1rem;
        margin-left: 0.5rem;
    }
    .project-description .display-medium {
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    .project-description p {
        font-size: 1rem;
        font-style: normal;
        font-weight: 200;
        line-height: normal;
    }
}